<!-- cbir_app/templates/cbir_app/upload_image.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Images</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">
    <div class="max-w-lg mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
        <h1 class="text-2xl font-bold text-center text-gray-800">Upload Images</h1>
        <div class="mt-6">
            
            <p class="text-center mt-4">
                <a href="{% url 'search_image' %}" 
                   class="text-blue-500 hover:text-blue-700 font-medium underline">
                    Search image
                </a>
            </p>
            <form method="post" enctype="multipart/form-data" class="space-y-4">
                {% csrf_token %}
                
               <input type="text" name="company_id" placeholder="Enter company ID" required
                    class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                <input type="file" name="images" multiple required
                    class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
                
                <button type="submit"
                    class="w-full bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded transition duration-300">
                    Upload
                </button>
            </form>
        </div>
    </div>
</body>
</html>
